*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.navi-bar{
	background:#4a4a4a ;
	height: 50px;
}

#logo{

	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 100px;
	display: inline-block;

}

.login-button{
	height: 30px;
	width: 100px;
	background-color: aliceblue;
	margin-right: 100px;
	margin-top: 10px;
	padding: auto;
	float: right;
}
h1{
	display: block;
	color: red;
	font-family: Anton;
	font-size: 24px;
	font-weight: 400;
}

h2,h3,h4,h5,h6{
	border: none;
	display: inline-block;
}
.navar{
	height: 300px;
	width: 1154px;
	margin: auto;
}
.slogan{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.h3-slogan{
	font-family: Anton, Playfair;
	font-size: 32px;
	font-weight: 600;
}
	
.discription{
	font-family: Playfair;
	font-size: 24px;
	font-weight: 400;
	font-style: italic;
	padding-top: 5px;
	padding-bottom: 5px;
}
.call-to-action{
	font-family: Playfair;
	font-size: 20px;
	padding-top: 20px;
	display: inline-block;
	margin-top: 50px;
	margin-left: 5px;
}
.sns-button-facebook{
	height: 50px;
	width: 150px;
	background-color: rgb(86, 71, 223);
	display: inline-block;
	border: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	color: aliceblue;
	font-size: 20px;
}

.sns-button-twt{
	height: 50px;
	width: 150px;
	background-color: rgb(117, 211, 255);
	display: inline-block;
	border: none;
	color: aliceblue;
	margin-left: 10px;
	font-size: 20px;
}

.sns-button-github{
	height: 50px;
	width: 150px;
	background-color: #666;
	display: inline-block;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: aliceblue;
	margin-left: 10px;
	font-size: 20px;
}
.sns-name{
	font-family: Playfair;
	font-size: 20px;
	font-weight: 700;
	margin-left: 5px;
}
.email-register-link{
	font-family: Playfair;
	font-size: 20px;
	text-decoration: none;
	margin-left: 5px;
}
.img--slide{
	display: flex;
	margin-top: 50px;
	flex-direction: row;
	align-items: space-between ;	
}
.img--slide--left{
	width: 25%;
}
.img--slide--right{
	width: 25%;
}
.img--slide--center{
	height: auto;
	width: calc(50%+300px);
	align-items: center;
}
.title-content-main{
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}
.main-content-box{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}
.main-content-box-child{
	text-align: justify ;
	margin-top: 50px;
	width: 30%;
}