*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.navi-bar{
	background:#4a4a4a ;
	height: 50px;
}

#logo{

	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 100px;
	display: inline-block;

}

.login-button{
	height: 30px;
	width: 100px;
	background-color: aliceblue;
	margin-right: 100px;
	margin-top: 10px;
	padding: auto;
	float: right;
}
h1{
	display: block;
	color: red;
	font-family: Anton;
	font-size: 24px;
	font-weight: 400;
}

h2,h3,h4,h5,h6{
	border: none;
	display: inline-block;
}
.navar{
	height: 300px;
	width: 1154px;
	margin: auto;
}
.slogan{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.h3-slogan{
	font-family: Anton, Playfair;
	font-size: 32px;
	font-weight: 600;
}
	
.discription{
	font-family: Playfair;
	font-size: 24px;
	font-weight: 400;
	font-style: italic;
	padding-top: 5px;
	padding-bottom: 5px;
}
.call-to-action{
	font-family: Playfair;
	font-size: 20px;
	padding-top: 20px;
	display: inline-block;
	margin-top: 50px;
}
.sns-button-facebook{
	height: 50px;
	width: 150px;
	background-color: rgb(0, 0, 255);
	font-family: Playfair;
	font-size: 20px;
	display: inline-block;
	border: solid 1px rgb(0, 0, 255);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	color: aliceblue;
}

.sns-button-twt{
	height: 50px;
	width: 150px;
	background-color: rgb(117, 211, 255);
	font-family: Playfair;
	font-size: 20px;
	display: inline-block;
	border: solid 1px rgb(117, 211, 255);
	color: aliceblue;
	margin-left: 10px;
	margin-right: 10px;
}